/* ====== RESET STYLES ====== */


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ====== TITLE STYLES */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
}
.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
/* ====== HEADER STYLES ====== */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-accent {
    color: #2e2f42;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
    }
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
   
}
.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
}    
.nav-link {
    position: relative;
    display: block;
    width: max-content;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:first-child {
    color: #404bbf;
}
.nav-link:hover, 
.nav-link:focus {
    color: #404bbf;
}
.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    margin-left: auto;
    margin-right: auto;
   
}
.address {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* ====== HERO SECTION STYLES ====== */

.hero-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-photo/people-office.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
}
.hero-button {
    background: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover,
.send-message-btn:hover,
.subscribe-btn:hover {
    background-color: #404bbf;
}
/* ====== BENEFITS SECTION STYLES ====== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list {
    display: flex;
    gap: 24px;
    
}
.benefits-item {
    width: calc((100% - 72px) / 4);
}
.benefits-icon {
   display: flex;
   justify-content: center;
   align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}
.text {
    line-height: 1.5;
}
/* ======= OUR TEAM SECTION STYLES ====== */

.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card {
    padding: 32px 0;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.team-svg {
    fill: #F4F4FD;
}
.team-social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
    width: 40px;
    height: 40px;
    line-height: 0;
    fill: #f4f4f4;
}
.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}
.team-text{
    text-align: center;
    line-height: 1.5;
}
/* ====== OUR PORTFOLIO SETION STYLES ====== */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay:hover .portfolio-content-text {
    transform: translateY(0%);
}
.portfolio-content-text {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ====== FOOTER SECTION ====== */

.footer-section {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-flex {
    margin-right: 120px;
}
.logo-footer{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}
.logo-span-footer {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    display: block;
    width: 264px;
}
.footer-social-media {
    margin-right: 80px;
}
.footer-social-text {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.footer-social-item {
    width: 40px;
        height: 40px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
        width: 100%;
        height: 100%;
        line-height: 0;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
fill: #f4f4fd;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;

}
.footer-label {
    display: flex;
    flex-direction: column;
}
.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}
.subscribe-input {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    margin-right: 24px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}
.subscribe-input::placeholder {
    color: #ffffff;
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    margin-left: 16px;
}
.subscribe-icon {
    fill: #ffffff;
margin-left: 16px;
}

/* BACKDROP SECTION */
.backdrop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-overlay.is-open {
    opacity: 1;
}
.modal {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
border-radius: 4px;
padding: 72px 24px 24px 24px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
position: absolute;
top: 24px;
right: 24px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #e7e9fc;
width: 24px;
height: 24px;   
padding: 0;
line-height: 0;
fill: #2e2f42;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.form-field-wrapper {
    margin-bottom: 8px;
}
.form-field-wrapper-comment {
    margin-bottom: 16px;
}
.form-field-label {
    display: block;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-message:focus {
border-color: #4d5ae5;
}
.form-input:focus + .form-icon-svg {
fill: #4d5ae5;
}
.form-input-wrapper {
   height: 40px;
   position: relative;
   font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
}
.form-icon-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
    width: 100%;
    height: 120px;
    outline: transparent;
    border: 1px solid rgb(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message::placeholder {
    color: rgb(46, 47, 66, 0.4);
}
.policy-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgb(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-policy-label {
    width: max-content;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    fill: transparent;
}
.policy-link {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.form-checkbox-wrapper {
    margin-bottom: 24px;
}
.form-policy-checkbox:checked+.form-policy-label .policy-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.form-policy-checkbox:focus+.form-policy-label .policy-own-checkbox {
    outline-color: #4d5ae5;
}

.send-message-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin-bottom: 24px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
